:host {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.tui-container {
  width: 40vw;

  .station__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
  }
}

#map {
  width: 50vw;
  height: 50vh;
}
